@charset "UTF-8";
/* 메인내용의 링크들 */
#mainSection a{
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
}

/* 중앙정렬을 해주는 테이블 */
.centerTable{
    text-align: center;
}
/* 수직정렬를 해주는 테이블 */
.verticalAlignTable{
    vertical-align: middle;
}

/* 관리자메인 */
.moreContent a:hover{
    color: gray;
}

/* 테이블 하단의 검색부분(searchType) */
#searchMember form select#searchType{
    max-width: 90px;
}

/* 소제목 */
.infoTitle{
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 3px;
}
/* textarea */
#mainSection textarea{
    resize: none;
}

/* 신고 리스트 페이지의 전체선택 하는 체크박스 */
#reportCheckbox{
    position: relative;
    top: 3px;
    left: 5px;
}
/* 신고 리스트 페이지의 신고내용 */
.reportContent{
    cursor: pointer;
}
.reportContent:hover{
    color: darkgray;
}
/* 신고 리스트 페이지의 쪽지버튼 */
.reportIdSubButton{
    width: 60px;
    display: none;
    z-index: 99;
    cursor: pointer;
    transition: all 0.3s;
    background-color: white;
}
.reportId:hover .reportIdSubButton{
    display: inline-block;
}

/* 상품 등록 */
#productManagerForm select, #productManagerForm button{
    transition: all 0.3s;
}
#submitNo{
    display: none;
}

/* 메달 */
.medal{
    max-height: 35px;
}

/* 여기는 회원주문상세정보페이지입니다. */
/* 회원 주문 상세조회 */
.findT, .number-good{
	text-align: right;
}
/* 배송조회, 상품주문번호 */
.card-good{
	margin-bottom: 30px;
}
/* 리뷰 내용작성 */
.lookupView-infmoney, .cancle-text{
	margin-top: 20px;
}
/* 회원탈퇴 셀렉트박스 */
.lookupView-btn{
	margin-bottom: 30px; margin-top: 30px;
}
/* 포인트, 할인쿠폰 합친거 */
.lookup-fs-6{
	font-weight: bold;
	margin-top: 10px; margin-bottom: 10px;
}
/* 비회원 주의사항 */
.card-good2{
	margin-top: 60px;
	margin-bottom: 30px;
}

/* 마지막 수정사항 조정 */
/* 소제목 */
.sameWidth{
    width: 88px;
}