/* 메인내용의 링크들 */
#mainSection a{
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
}

/* 중앙정렬을 해주는 테이블 */
.centerTable{
    text-align: center;
}

/* 관리자메인 */
.moreContent a:hover{
    color: gray;
}

/* 테이블 하단의 검색부분(searchType) */
#searchMember form select#searchType{
    max-width: 90px;
}

/* 소제목 */
.infoTitle{
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid darkgray;
    border-radius: 5px;
}
/* textarea */
#mainSection textarea{
    resize: none;
}

/* 신고 리스트 페이지의 전체선택 하는 체크박스 */
#reportCheckbox{
    position: relative;
    top: 3px;
    left: 5px;
}
/* 신고 리스트 페이지의 신고내용 */
.reportContent{
    cursor: pointer;
}
.reportContent:hover{
    color: darkgray;
}
/* 신고 리스트 페이지의 쪽지버튼 */
.reportIdSubButton{
    width: 60px;
    display: none;
    z-index: 99;
    cursor: pointer;
    transition: all 0.3s;
    background-color: white;
}
.reportId:hover .reportIdSubButton{
    display: inline-block;
}

/* 상품 등록 */
#productManagerForm select, #productManagerForm button{
    transition: all 0.3s;
}
#submitNo{
    display: none;
}