/* 메인내용의 링크들 */
#mainSection a{
    font-weight: bold;
    text-decoration: none;
}

/* 헤딩 */
#gt{
	display: none;
}

/* 관리자메인 */
#mainSection table{
    text-align: center;
}
#mainSection .mainContent:nth-of-type(2) tbody > tr > td:nth-of-type(2){
    font-size: 13px;
}
.more_content a{
    transition: all 0.3s;
}
.more_content a:hover{
    color: gray;
}

/* 리스트 테이블이 있는 테이블 하단의 검색부분 */
#searchMember form{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
#searchMember form select{
    max-width: 90px;
}

/* 회원관리 */
.rows{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.memberCol1{
    background-color: whitesmoke;
    border: 2px solid lightgray;
    border-radius: 7px;
    font-weight: bold;
}
#mainSection textarea{
    resize: none;
    overflow: auto;
    text-indent: 3px;
}
.modal span{
    font-size: small;
}
.modal input{
    font-size: small;
}

/* 신고테이블 */
.reportContent{
    cursor: pointer;
    transition: all 0.4s;
}
.reportContent:hover{
    color: darkgray;
}
.reportIdSubButton{
    width: 60px;
    display: none;
    z-index: 99;
    cursor: pointer;
    transition: all 0.3s;
    background-color: white;
}
.reportId:hover .reportIdSubButton{
    display: inline-block;
}

/* 상품 등록 */
#productManagerForm select, #productManagerForm button{
    transition: all 0.3s;
}
