@charset "UTF-8";

body{
    padding: 0px;
    margin: 0px auto;
    cursor: default;
    max-width: 2000px;
    overflow-x: hidden;
    font-family: 'IBM Plex Sans KR', sans-serif;
}


header #logo{
    max-width: 180px;
}

header i, nav #userLogin a{
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
}
header i:hover, nav #userLogin a:hover{
    color:gray;
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}





#rightAside{
    z-index: 100;
    width: 105px;
    position: fixed;
    top:260px;
}

.productImg{
    text-align: center;
}
.productImg img{
	background: whitesmoke;
}

#top{
	width : 45px;
	height : 45px;
	color : white;
    cursor : pointer;
	margin-top : 5px;
	font-weight : bold;
	line-height : 44px;
    text-align: center;
	border-radius : 5px;
    transition: all 0.3s;
	background-color : black;
}
#top:hover{
    background-color: gray;
}

#chatting{
    cursor: pointer;
    transition: all 0.3s;
}
#chatting:hover{
    color : orange;
}
#chatting i{
    font-size: 45px;
}


.rightAsideDivM{
	height : 120px;
	width : 100%;
}

.rightAsideImgM{
	width : 75px;
	margin-top : 5px;
}

.mobileCart{
	font-size : 40px;
	margin-top : 12px;
}

.rightAsideM{
	height : 40px;
	position : fixed;
	bottom : 5%;
	left : 31.5%;
	display : none;
}

@media screen and (max-width : 600px){
	.rightAsideM{
		display : block;
	}
}