@charset "UTF-8";

/* index ========================================================================================== */

/*상품 카드*/
.card{
	display : inline-block;
	width : 100%;
	max-width : 300px;
	margin-bottom : 20px;
}

/*찜*/
.hoverHeart{
	margin : 0;
	max-width : 28px;
}

/*장바구니*/
.hoverCart{
	margin : 0;
	max-width : 35px;
}

/*장바구니, 찜 이미지 관리*/
.indexSubImg{
	position : absolute;
	left : 60%;
	display : none;
}

@media screen and (min-width : 600px){
	.popular:hover .indexSubImg{
		display : block;
	}
}

.popular:hover{
	cursor:pointer;
}
/*배경 블러처리*/
.cartBack{
	margin : 0;
	background-size : cover;
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index : 150;
	background-color : rgba(0,0,0,0.7);
	display : none;
}
/*장바구니 메세지*/
.message{
	width : 300px;
	height : 150px;
	margin : 0 auto;
	position : relative;
	top : 40%;
	background-color : #FFEFD5;
	border-radius : 10px;
	text-align : center;
}
/*금,은,동*/
.medal{
	margin : 0;
	max-width : 50px;
	z-index : 1;
	position : absolute;
	top : 50%;
	left : 65%;
}

.medalM{
	max-width : 50px;
	position : absolute;
	left : 290px;
	margin-top : 18px;
}

/*오른쪽 side 메뉴*/
.rAside{
	width : 100px; 
	position : relative;
	left : 35px;
	background-color : 	#F0F8FF;
	border-radius : 10px;
	text-align : center;
}

.rAside .chat{
	font-size : 2em;
}

.productDiv{
	width : 80px;
	height : 80px;
	position : relative;
	left : 10px;
}
/*최근 본 상품*/
.viewProduct{
	width : 80px;
	height : 80px;
}
/*top 버튼*/
.top{
	background-color : gray;
	width : 40px;
	height : 40px;
	border-radius : 20px;
	font-weight : bold;
	color : white;
	line-height : 40px;
	margin-top : 10px;
	margin-bottom : 10px;
	position : relative;
	left : 30px;
}

.top:hover{
	cursor : pointer;
}

.topM{
	width : 45px;
	height : 45px;
	color : white;
    cursor : pointer;
	margin-top : 5px;
	font-weight : bold;
	line-height : 44px;
    text-align: center;
	border-radius : 5px;
    transition: all 0.3s;
	background-color : black;
	display : none;
	position : fixed;
	bottom : 5%;
	left : 80%;
}

@media screen and (max-width : 600px){
	.bestMenu{
		display : none;
	}
	
	.bestRecipe{
		display : none;
	}
	
	.bestMenuM{
		display : block;
		margin-bottom : 20px;
	}
	
	.bestRecipeM{
		display : block;
	}
}

@media screen and (min-width : 600px){
	.bestMenu{
		display : block;
	}
	
	.bestRecipe{
		display : block;
	}
	
	.bestMenuM{
		display : none;
	}
	
	.bestRecipeM{
		display : none;
	}
}

/*모바일 인기 상품 카드*/
.cardDivM{
	text-align : center;
}

.cardM{
	margin : 15px;
	display : inline-block;
	border : 1px solid #DCDCDC;
	border-radius : 5px;
	width : 150px;
	height : auto;
}

/*모바일 베스트 레시피 카드*/
.recipeCardM{
	height : auto;
}

.recipeMDiv{
	height : 100px;
	display : flex;
	border : 1px solid #DCDCDC;
	border-radius : 10px;
	margin-top : 10px;
}

.recipeMImg{
	margin : 0px;
	max-width : 100px;
	height : 100px;
	display : inline-block;
}

.recipeMContent{
	margin : 0px;
	width : 270px;
	height : 100px;
	display : inline-block;
}
/*할인가*/
.discount{
	color : red;
}

.indexStar{
	color : orange;
}

.indexStarM{
	color : orange;
}

/* productList ========================================================================================== */

@media screen and (max-width : 600px){
	.pList{
		display : none;
	}
	
	.pListM{
		display : block;
	}
}

@media screen and (min-width : 600px){
	.pList{
		display : block;
	}
	
	.pListM{
		display : none;
	}
}

/*section title*/
.topText{
	text-align : center;
	margin-top : 40px;
}

/*상품 호버*/
@media screen and (min-width : 600px){
	.productAll:hover .indexSubImg{
		display : block;
	}
}

/*왼쪽 aside*/
.lAside{
	background-color : whitesmoke;
	border-radius : 10px;
	width : 180px;
	position : relative;
	left : 80px;
}

.lAsideDiv{
	margin : 0 auto;
	position : relative;
	right : -10px;
}

#leftAside{
    min-width: 130px;
    width: 13%;
    max-width: 200px;
    position: fixed;
    z-index : 1;
}

/*모바일 필터 메뉴*/
.filter{
	border : 1px solid 	#DCDCDC;
	border-radius : 5px;
	width : 54px;
	height : 40px;
	text-align : center;
	color : #696969;
}

.mlAside{
	text-align : left;
}

/*모바일 필터 펼침 크기*/
.canvasM{
	max-width : 60%;
}

.filter>i{
	font-size : 30px;
	position : relative;
	top : -2px;
}

/*모바일 상품 카드*/
.productListCardM{
	height : auto;
}

.productListMDiv{
	height : 120px;
	display : flex;
	border : 1px solid #DCDCDC;
	border-radius : 10px;
	margin-top : 10px;
	margin-bottom : 10px;
}

.productListMImg{
	margin : 0px;
	max-width : 100px;
	height : 100px;
	display : inline-block;
}

.productListMImg>img{
	border-radius : 10px;
}

.productListContent{
	margin : 0px;
	width : 270px;
	height : 100px;
	display : inline-block;
	text-indent : 1em;
}

.productListStar{
	color : orange;
}

.productListStarM{
	text-align : center;
	font-size : 0.8rem;
	color : orange;
}

/* 모바일 가격 메세지*/
.priceAlertM{
	margin : 0;
	background-size : cover;
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index : 10;
	background-color : rgba(0,0,0,0.7);
	display : none;
}

.priceAlertMessageM{
	width : 300px;
	height : 150px;
	margin : 0 auto;
	position : relative;
	top : 40%;
	background-color : #FFEFD5;
	border-radius : 10px;
	text-align : center;
}

/*모바일 찜, 장바구니 이미지*/
.pListSubImgM{
	width : 90px;
	position : relative;
	left : 180px;
	top : -40px;
}

/* productView ========================================================================================== */

/*상품 이미지*/
.viewImg{
	width : 100%;
	max-width : 400px;
}

.pViewCard{
	max-width : 900px;
	margin : 0 auto;
}

.viewStar{
	text-align : center;	
}

@media screen and (max-width : 600px){
	.viewStar{
		position : relative;
	}
}

.productNum i:hover{
	cursor : pointer;
}
/*중간 이름*/
.mdName{
	margin-top : 20px;
}
/*중간 이름 옆 가격*/
.mdPrice{
	float : right;
}

.totalPrice{
	float : right;
}
/*구매 버튼*/
.viewButton{
	margin-top : 10px;
	display : inline-block;
	width : 100%;
	height : 100%;
	max-width : 200px;
	max-height : 150px;
}

/*서브 메뉴*/
.subMenuGroup{
	display : flex;
	justify-content : center;
	
}

.subMenuButton{
	width : 100%;
	height : 100%;
	max-width : 200px;
	max-height : 38px;
	background-color : white;
	border : 1px solid #6c757d;
	border-radius : 3px;
	color : #6c757d;
	text-align : center;
	font-size : 1.1rem;
}

.subMenuButton+label{
	padding : 6px 12px;
}

.subMenuCheck{
	display : none;
}

.subMenuButton:hover{
	background-color : #6c757d;
	color : white;
	cursor : pointer;
}

@media screen and (min-width : 600px){
	.subMenuButton:hover{
		background-color : #6c757d !important;
		color : white !important;
		cursor : pointer;
	}
}

#pView{
	margin-bottom : 50px;
}

#pDelivery{
	margin-bottom : 50px;
}

#reviewTable th, #reviewTable td{
	text-align : center;
	vertical-align : middle;
}

.reviewContent{
	vertical-align : middle;
}

.reViewImg{
	width : 150px;
	margin : 0px;
	display : inline-block;
}

#reviewTable{
	max-width : 900px;
	margin : 0 auto;
}

#reviewTable>thead>tr th:nth-child(1){
	width : 110px;
}

#reviewTable>thead>tr th:nth-child(3){
	width : 100px;
}

#reviewTable>thead>tr th:nth-child(4){
	width : 120px;
}

#reviewTop{
	text-align : center;
}

#review{
	margin-top : 50px;
}

.reviewDown{
	font-size : 1.2rem;
	vertical-align : middle;
}

.reviewCard{
	width : 100%;
	margin-bottom : 30px;
}

.reviewCard div{
	text-align : left;
	text-indent : 50px;
}

.reviewCardImg{
	width : 100%;
	max-width : 350px;
}

.reviewTitle{
	text-align : left;
	text-indent : 10px;
}

#reviewTableM th{
	text-align : center;
}

#reviewTableM td{
	padding-top : 20px;
	padding-bottom : 20px;
}

#reviewTableM{
	display : none;
}

@media screen and (max-width : 991px){
	#reviewTableM{
		display : table;
	}
	
	#reviewTable{
		display : none;
	}
}

.plusView{
	margin : 0 auto;
	padding : 20px 20px;
	width : 150px;
	height : 70px;
	border-radius : 15px;
	background-color : 	#BC8F8F;
	color : white;
	font-weight : bold;
	font-size : 1.2rem;
	text-align : center;
	position : relative;
	top : -85px;	
}

.plusView:hover{
	cursor : pointer;
	background-color : #E9967A;
}

.unfold{
	overflow : hidden;
	height : 500px;
}

#pViewleft{
	width : 300px;
	height : 500px;
	display : none;
	border : 1px solid black;
	position : relative;
	top : 15%;
	left : 100px;
}

#pViewleft>hr{
	margin : 50px 0px 200px 0px;
}

.leftViewTotal{
	height : 70px;
	margin-top : 50px;
}

.leftViewButtonDiv{
	text-align : center;
}

.leftViewButton{
	width : 135px;
}

.productViewStar{
	color : orange;
}

.productViewReviewStar{
	color : orange;
}

.productViewReviewStarM{
	color : orange;
}