@charset "UTF-8";

/* index ========================================================================================== */

/*상품 카드*/
.card{
	display : inline-block;
	width : 100%;
	max-width : 250px;
	margin-bottom : 20px;
}

#cardImg{
	max-height : 250px;
}

.indexSold{
	max-height : 190px;
	z-index : 1;
	position : absolute;
	top : 30px;
	left : -5px;
}

@media screen and (min-width : 600px){
	.soldout{
		width : 100%;
		max-width : 250px;
		height : 100%;
		max-height : 250px;
		background-color : gray;
		opacity : 0.5;
		z-index : 0.5;
		position : absolute;
		top : 0px;
	}
}

@media screen and (max-width : 600px){
	.soldout{
		width : 100%;
		max-width : 149px;
		height : 100%;
		max-height : 180px;
		background-color : gray;
		opacity : 0.5;
		z-index : 0.5;
		position : relative;
		top : -330px;
		margin : 0px;
		border-radius : 5px 5px 0px 0px;
		
	}
}

.card:hover{
	cursor:pointer;
}

/*찜*/
.hoverHeart{
	margin : 0;
	max-width : 28px;
}

/*장바구니*/
.hoverCart{
	margin : 0;
	max-width : 35px;
}

/*장바구니, 찜 이미지 관리*/
.indexSubImg{
	position : absolute;
	width : 100px;
	left : 70%;
	top : 60%;
	display : none;
}

@media screen and (min-width : 600px){
	.popular:hover .indexSubImg{
		display : block;
		z-index : 2;
	}
}

.popular:hover{
	cursor:pointer;
}
/*배경 블러처리*/
.cartBack{
	margin : 0;
	background-size : cover;
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index : 150;
	background-color : rgba(0,0,0,0.7);
	display : none;
}
/*장바구니 메세지*/
.message{
	width : 300px;
	height : 150px;
	margin : 0 auto;
	position : relative;
	top : 40%;
	background-color : #FFEFD5;
	border-radius : 10px;
	text-align : center;
}
/*금,은,동*/
.medal{
	margin : 0;
	max-width : 50px;
	z-index : 1;
	position : absolute;
	top : 50%;
	left : 65%;
}

.medalM{
	max-width : 50px;
	position : absolute;
	left : 290px;
	margin-top : 18px;
}

/*오른쪽 side 메뉴*/
.rAside{
	width : 100px; 
	position : relative;
	left : 35px;
	background-color : 	#F0F8FF;
	border-radius : 10px;
	text-align : center;
}

.rAside .chat{
	font-size : 2em;
}

.productDiv{
	width : 80px;
	height : 80px;
	position : relative;
	left : 10px;
}
/*최근 본 상품*/
.viewProduct{
	width : 80px;
	height : 80px;
}
/*top 버튼*/
.top{
	background-color : gray;
	width : 40px;
	height : 40px;
	border-radius : 20px;
	font-weight : bold;
	color : white;
	line-height : 40px;
	margin-top : 10px;
	margin-bottom : 10px;
	position : relative;
	left : 30px;
}

.top:hover{
	cursor : pointer;
}

.topM{
	width : 45px;
	height : 45px;
	color : white;
    cursor : pointer;
	margin-top : 5px;
	font-weight : bold;
	line-height : 44px;
    text-align: center;
	border-radius : 5px;
    transition: all 0.3s;
	background-color : black;
	display : none;
	position : fixed;
	bottom : 5%;
	left : 80%;
	z-index : 6;
}

@media screen and (max-width : 600px){
	.bestMenu{
		display : none;
	}
	
	.bestRecipe{
		display : none;
	}
	
	.bestMenuM{
		display : block;
		margin-bottom : 20px;
	}
	
	.bestRecipeM{
		display : block;
	}
}

@media screen and (min-width : 600px){
	.bestMenu{
		display : block;
	}
	
	.bestRecipe{
		display : block;
	}
	
	.bestMenuM{
		display : none;
	}
	
	.bestRecipeM{
		display : none;
	}
}

/*모바일 인기 상품 카드*/
.cardDivM{
	text-align : center;
}

.cardM{
	margin : 15px;
	display : inline-block;
	border : 1px solid #DCDCDC;
	border-radius : 5px;
	width : 150px;
	height : auto;
}

.productNameM{
	font-size : 15px;
}

#cardMimg{
	width : 150px;
	height : 180px;
}

.indexSoldM{
	max-width : 150px;
	max-height : 180px;
	z-index : 1;
	position : relative;
	top : -160px;
}

@media screen and (max-width : 1024px){
	.recipeImg{
		width : 190px;
		height : 230px;
	}
}

@media screen and (min-width : 1024px){
	.recipeImg{
		width : 100%;
		height : 230px;
	}
}

/*모바일 베스트 레시피 카드*/
.recipeCardM{
	height : auto;
}

.recipeMDiv{
	height : 100px;
	display : flex;
	border : 1px solid #DCDCDC;
	border-radius : 10px;
	margin-top : 10px;
}

.recipeMImg{
	margin : 0px;
	width : 100px;
	height : 100px;
	display : inline-block;
}

.recipeMImg>img{
	margin : 0px;
	width : 100px;
	height : 100px;
	display : inline-block;
}


.recipeMContent{
	margin : 0px;
	width : 270px;
	height : 100px;
	display : inline-block;
}
/*할인가*/
.discount{
	color : red;
}

.discountM{
	color : red;
}

.indexStar{
	color : orange;
}

.indexStarM{
	color : orange;
}

.recipTitleM{
	width : 70%;
	white-space : nowrap;
	overflow : hidden;
	text-overflow : ellipsis;
}

/* productList ========================================================================================== */

.cardImg{
	max-height : 190px;
}

.pListSoldout{
	width : 100%;
	max-width : 250px;
	height : 100%;
	max-height : 190px;
	background-color : gray;
	opacity : 0.5;
	z-index : 0.5;
	position : absolute;
	top : 0px;
}

@media screen and (max-width : 600px){
	.pListSoldout{
		width : 100px;
		height : 100px;
		background-color : gray;
		opacity : 0.5;
		z-index : 0.5;
		position : relative;
		top : -100px;
		border-radius : 10px 0px 0px 0px;
	}
}

.pListSold{
	max-height : 190px;
	z-index : 1;
	position : absolute;
	left : -5px;
}

@media screen and (max-width : 600px){
	.pListSold{
		max-width : 100px;
		max-height : 100px;
		z-index : 1;
		position : absolute;
		left : -3px;
	}
}

@media screen and (max-width : 600px){
	.pList{
		display : none;
	}
	
	.pListM{
		display : block;
	}
}

@media screen and (min-width : 600px){
	.pList{
		display : block;
	}
	
	.pListM{
		display : none;
	}
}

/*section title*/
.topText{
	text-align : center;
	margin-top : 40px;
}

.pListSubImg{
	position : absolute;
	width : 100px;
	left : 60%;
	top : 45%;
	display : none;
	z-index : 2;
}

/*상품 호버*/
@media screen and (min-width : 600px){
	.productAll:hover .pListSubImg{
		display : block;
	}
}

/*왼쪽 aside*/
.lAside{
	background-color : whitesmoke;
	border-radius : 10px;
	width : 140px;
	position : relative;
	left : 45px;
}

.lAsideDiv{
	margin : 0 auto;
	position : relative;
	right : -6px;
}

#leftAside{
    min-width: 130px;
    width: 13%;
    max-width: 200px;
    position: fixed;
    z-index : 1;
}

/*모바일 필터 메뉴*/
.filter{
	border : 1px solid 	#DCDCDC;
	border-radius : 5px;
	width : 54px;
	height : 40px;
	text-align : center;
	color : #696969;
}

.mlAside{
	text-align : left;
}

/*모바일 필터 펼침 크기*/
.canvasM{
	max-width : 60%;
}

.filter>i{
	font-size : 30px;
	position : relative;
	top : -2px;
}

/*모바일 상품 카드*/
.productListCardM{
	height : auto;
}

.productListMDiv{
	height : 125px;
	border : 1px solid #DCDCDC;
	border-radius : 10px;
	margin-top : 10px;
	margin-bottom : 10px;
}

.productListMImg{
	margin : 0px;
	width : 100px;
	height : 100px;
	display : inline-block;
	text-align : center;
}

.productListMImg>img{
	border-radius : 10px;
	max-width : 100px;
	max-height : 100px;
}

.productListContent{
	margin : 0px;
	width : 260px;
	height : 100px;
	display : inline-block;
	text-indent : 1em;
	position : relative;
	top : -15px;
}

.productListStar{
	color : orange;
}

.productListStarM{
	text-align : center;
	font-size : 0.8rem;
	color : orange;
	max-height : 25px;
}

/* 모바일 가격 메세지*/
.priceAlertM{
	margin : 0;
	background-size : cover;
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index : 10;
	background-color : rgba(0,0,0,0.7);
	display : none;
}

.priceAlertMessageM{
	width : 300px;
	height : 150px;
	margin : 0 auto;
	position : relative;
	top : 40%;
	background-color : #FFEFD5;
	border-radius : 10px;
	text-align : center;
}

/*모바일 찜, 장바구니 이미지*/
.pListSubImgM{
	width : 90px;
	position : relative;
	top : -82px;
	left : 300px;
	z-index : 5;
}

a:link{
	color : black;
}

a:visited{
	color : black;
}

a{
	text-decoration-line : none;
}

.inputText{
	display : inline-block;
}

#notCheck{
	font-size : 3rem;
	text-align : center;
}

@media screen and (max-width : 600px){
	#notCheck{
		font-size : 2rem;
	}
}

.header-badge{
	font-size: .30em;
	transform: translate(-65%,13%)!important;
}

/* productView ========================================================================================== */

/*상품 이미지*/
.viewImg{
	width : 400px;
	height : 400px;
}

.viewSoldout{
	width : 100%;
	max-width : 400px;
	height : 100%;
	max-height : 400px;
	background-color : gray;
	opacity : 0.5;
	z-index : 0.5;
	position : absolute;
	top : 0px;
}

.viewSold{
	max-width : 400px;
	max-height : 400px;
	z-index : 1;
	position : absolute;
	left : -5px;
	top : 0px;
}

.pViewCard{
	max-width : 900px;
	margin : 0 auto;
}

.viewStar{
	text-align : center;	
}

@media screen and (max-width : 600px){
	.viewStar{
		position : relative;
	}
}

.productNum i:hover{
	cursor : pointer;
}

.productNum{
	margin-top : 10px;
	position: relative;
	left : 130px;
}

.productNumM{
	margin-top : 10px;
	position: relative;
	left : 280px;
}
/*중간 이름*/
.mdName{
	margin-top : 10px;
	font-size : 1.3rem;
}

/*구매 버튼*/
.viewButton{
	margin-top : 10px;
	display : inline-block;
	width : 100%;
	height : 100%;
	max-width : 200px;
	max-height : 150px;
}

/*서브 메뉴*/
.subMenuGroup{
	display : flex;
	justify-content : center;
	
}

.subMenuButton{
	width : 100%;
	height : 100%;
	max-width : 200px;
	max-height : 38px;
	background-color : white;
	border : 1px solid #6c757d;
	border-radius : 3px;
	color : #6c757d;
	text-align : center;
	font-size : 1.1rem;
}

.subMenuButton+label{
	padding : 6px 12px;
}

.subMenuCheck{
	display : none;
}

.subMenuButton:hover{
	background-color : #6c757d;
	color : white;
	cursor : pointer;
}

@media screen and (min-width : 600px){
	.subMenuButton:hover{
		background-color : #6c757d !important;
		color : white !important;
		cursor : pointer;
	}
}

#pView{
	margin-bottom : 50px;
}

#pDelivery{
	margin-bottom : 50px;
}

#reviewTable th, #reviewTable td{
	text-align : center;
	vertical-align : middle;
}

.reviewContent{
	vertical-align : middle;
}

.reViewImg{
	width : 150px;
	margin : 0px;
	display : inline-block;
}

#reviewTable{
	max-width : 900px;
	margin : 0 auto;
}

#reviewTable>thead>tr th:nth-child(1){
	width : 110px;
}

#reviewTable>thead>tr th:nth-child(3){
	width : 100px;
}

#reviewTable>thead>tr th:nth-child(4){
	width : 120px;
}

#reviewTop{
	text-align : center;
}

#review{
	margin-top : 50px;
}

.reviewDown{
	font-size : 1.2rem;
	vertical-align : middle;
}

.reviewCard{
	width : 100%;
	margin-bottom : 30px;
}

.reviewCard div{
	text-align : left;
	text-indent : 50px;
}

.reviewCardImg{
	width : 100%;
	max-width : 350px;
}

.reviewTitle{
	text-align : left;
	text-indent : 10px;
	white-space : nowrap;
	overflow : hidden;
	text-overflow : ellipsis;
}

#reviewTableM th{
	text-align : center;
}

#reviewTableM td{
	padding-top : 20px;
	padding-bottom : 20px;
}

#reviewTableM{
	display : none;
}

@media screen and (max-width : 991px){
	#reviewTableM{
		display : table;
	}
	
	#reviewTable{
		display : none;
	}
}

.plusView{
	margin : 0 auto;
	padding : 20px 20px;
	width : 150px;
	height : 70px;
	border-radius : 15px;
	background-color : 	#BC8F8F;
	color : white;
	font-weight : bold;
	font-size : 1.2rem;
	text-align : center;
	position : relative;
	top : -85px;	
}

.plusView:hover{
	cursor : pointer;
	background-color : #E9967A;
}

.unfold{
	overflow : hidden;
	height : 500px;
}

#pViewleft{
	width : 100%;
	max-width : 800px;
	height : 170px;
	display : none;
	border : 1px solid black;
	background-color : white;
	position : fixed;
	bottom : 0%;
}

.leftViewTotal{
	height : 70px;
	margin-top : 10px;
}

.leftViewButtonDiv{
	width : 300px;
	position : absolute;
	left : 480px;
	top : 25px;
}

.leftViewButton{
	width : 130px;
	height : 130px;
}

.productViewStar{
	color : orange;
}

.productViewReviewStar{
	color : orange;
}

.productViewReviewStarM{
	color : orange;
}

.topTooltip{
	position : absolute;
	bottom : 6%;
	left : 46%;
	margin: 50px;
 	width:250px; 
 	height:80px;
 	background:#198754; 
  	border-radius: 10px;
  	text-align : center;
  	display:none;
  	z-index : 2;
}

.topTooltip:after{
	border-top:10px solid #198754; 
 	border-left: 10px solid transparent; 
 	border-right: 10px solid transparent; 
	border-bottom: 0px solid transparent; 
 	content:""; 
 	position:absolute;
 	bottom:-10px;
	left:110px; 
}

.topTooltip>p{
	margin-top : 6px;
	margin-bottom : 3px;
	color : white;
}

@media screen and (max-width : 600px){
	.topTooltip{
		position : absolute;
		bottom : 3%;
		left : -30px;
		margin: 50px;
	 	width:250px; 
	 	height:80px;
	 	background:#198754; 
	  	border-radius: 10px;
	  	text-align : center;
	}

	.topTooltip:after{
		border-top:10px solid #198754; 
	 	border-left: 10px solid transparent; 
	 	border-right: 10px solid transparent; 
		border-bottom: 0px solid transparent; 
	 	content:""; 
	 	position:absolute;
	 	bottom:-10px;
		left:80px; 
	}
}

.outter{
	position : absolute;
	top : 0px;
	width : 100%;
	height: 300%;
	background-color : white;
	opacity : 0;
	z-index : 1;
	display : none;
}

.topTooltipSold{
	position : absolute;
	bottom : 6%;
	left : 46%;
	margin: 50px;
 	width:250px; 
 	height:80px;
 	background:#198754; 
  	border-radius: 10px;
  	text-align : center;
  	display:none;
  	z-index : 2;
}

.topTooltipSold:after{
	border-top:10px solid #198754; 
 	border-left: 10px solid transparent; 
 	border-right: 10px solid transparent; 
	border-bottom: 0px solid transparent; 
 	content:""; 
 	position:absolute;
 	bottom:-10px;
	left:110px; 
}

@media screen and (max-width : 600px){
	.topTooltipSold{
		position : absolute;
		bottom : 3%;
		left : -30px;
		margin: 50px;
	 	width:250px; 
	 	height:80px;
	 	background:#198754; 
	  	border-radius: 10px;
	  	text-align : center;
	}

	.topTooltipSold:after{
		border-top:10px solid #198754; 
	 	border-left: 10px solid transparent; 
	 	border-right: 10px solid transparent; 
		border-bottom: 0px solid transparent; 
	 	content:""; 
	 	position:absolute;
	 	bottom:-10px;
		left:80px; 
	}
}

.bottomTooltip{
	position : fixed;
	bottom : 105px;
	left : 480px;
	margin: 50px;
 	width:250px; 
 	height:80px;
 	background:#198754; 
  	border-radius: 10px;
  	text-align : center;
  	display:none;
  	z-index : 2;
}

.bottomTooltip:after{
	border-top:10px solid #198754; 
 	border-left: 10px solid transparent; 
 	border-right: 10px solid transparent; 
	border-bottom: 0px solid transparent; 
 	content:""; 
 	position:absolute;
 	bottom:-10px;
	left:110px; 
}

.bottomTooltip>p{
	margin-top : 6px;
	margin-bottom : 3px;
	color : white;
}

.bottomTooltipSold{
	position : fixed;
	bottom : 105px;
	left : 480px;
	margin: 50px;
 	width:250px; 
 	height:80px;
 	background:#198754; 
  	border-radius: 10px;
  	text-align : center;
  	display:none;
  	z-index : 2;
}

.bottomTooltipSold:after{
	border-top:10px solid #198754; 
 	border-left: 10px solid transparent; 
 	border-right: 10px solid transparent; 
	border-bottom: 0px solid transparent; 
 	content:""; 
 	position:absolute;
 	bottom:-10px;
	left:110px; 
}

.pCnt{
	width:30px;
	display : inline-block;
	text-align : center;
}

.productInventory{
	font-size : 0.8rem;
}

@media screen and (min-width : 600px){
	#paging{
		display : flex;
		justify-content : center;
	}
	
	#pagingM{
		display : none;
	}
}

@media screen and (max-width : 600px){
	#paging{
		display : none;
	}
	
	#pagingM{
		display : flex;
		justify-content : center;
	}
}

#recentProductM{
	display : flex;
	justify-content : center;
}