@charset "UTF-8";

.lookupNon-fs6{
	font-weight: bold;
	margin-top: 10px; margin-bottom: 10px;
}
.findT, .number-good{
	text-align: right;
}
.good-date{
	font-size: 18px; font-weight: bold;
}
.link-info{
	text-decoration: none;
}
.cancle-btn{
	margin-top: 20px; margin-bottom: 20px;
}
.card-good{
	margin-bottom: 30px;
}
.card-good2{
	margin-top: 60px;
	margin-bottom: 30px;
}
.lookup-fs-6 {
	font-weight: bold;
	margin-top: 10px; margin-bottom: 10px;
}
.lookupView-infmoney{
	margin-top: 20px;
}
