.nav-mypage, .nav-title{
	padding: 0.5rem 1rem;
	font-weight: bold;
	margin: 0px;
}
.left-nav {
	z-index: 1000;
}
.left-nav-text {
	color: black;
	font-size: 15px;
	font-weight: normal;
}
.offcanvas-title2{
	font-weight: bold; padding: 0.5rem 1rem;
}
#leftAside, #leftAside1{
    display: flex;
    border-radius: 5px;
    transition: all 0.5s;
    margin: 0 auto;
}
.mypage-nav-icon{
	font-size: 17px; color: gray;
}
.nav-mobile{
	width: 200px;
}
/* 왼쪽nav부분 */

.col-md-10 {
	margin: 0 auto;
}
/* 섹션 전체 */

.text-point {
	font-size: 20px; 
}
/* 포인트, 할인쿠폰 */

.number-point{
	font-size: 20px; 
	color: blue;
}
/* 포인트, 할인쿠폰 숫자부분 */

.point {
	margin-bottom: 15px;
}
/* 포인트, 할인쿠폰 합친거 */

.lookup-fs-6 {
	font-weight: bold;
	margin-top: 10px; margin-bottom: 10px;
}
/* 두번째타이틀 */

.lookupBorder{
	border-style: groove;
	border-width: 4px;
	padding: 8px; margin-bottom: 20px;
}

.findT, .number-good {
	text-align: right;
}
.link-info{
	text-decoration: none;
}
.good-date{
	font-size: 18px; font-weight: bold;
}
/* 배송조회, 상품주문번호 */

.card-good {
	margin-bottom: 30px;
}
/* 상품카드 */

.cancle-btn {
	margin-bottom: 30px;
}
/* 주문취소버튼 */

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}
.star-rating input {
  display: none;
}
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}
/* 리뷰 별점부분 */

.result-star{
	font-size: 1.5rem; font-weight: bold; color: black;
}
/* 별점 옆에 텍스트 */

.reviewTextarea {
	margin-top: 20px;
}
/* 리뷰 내용작성 */

.lookupView-infmoney, .cancle-text{
	margin-top: 20px;
}
/* 조회상세 + 취소조회 텍스트 */

.cancleTextarea {
	margin-top: 5px;
}
/* 주문취소 내용 작성 */

.cancleOk{
	color: red;
	font-weight: bold;
}
/* 취소완료 텍스트 */

.cancleView-btn{
	margin-bottom: 30px;
}
/* 취소상세조회 버튼부분 */

.interItem-icon{
	text-align: right; margin-top: 20px;
}
/* 관심상품 상품삭제 아이콘 */

.coupon-table{
	margin-bottom: 30px;
}
/* 쿠폰페이지 테이블 */

.review-title{
	text-indent: 0.5em; font-weight: bold;
	margin-bottom: 10px;
}
/* 리뷰상세보기 제목 */

.review-content{
	text-indent: 0.5em;
	margin-top: 10px;
}
/* 리뷰상세보기 내용 */

.review-paging{
	justify-content : center;
	margin-top: 20px; margin-bottom: 30px;
}
/* 리뷰페이징 */

.card-img-top{
	height: 13rem;
	object-fit: cover;
}
/* 레시피 카드 이미지 */

.recipe-text{
	font-size: 14px;
	white-space:nowrap;
}
/* 레피시 카드 텍스트 */

.changeInfor{
	margin-top: 100px;
}
/* 개인정보변경 비밀번호 입력란전체 */

.changeInfor-label{
	font-weight: bold;
}
.changeInfor-input{
	width: 90%;
}
/* 개인정보변경 비밀번호 입력부분 라벨 */

.changeInforOk-inputId{
	width: 90%;
}

.changeInforOk-inputName{
	margin-top: 25px; width: 90%;
}
/* 개인정보변경 이름입력 */

.changeInforOk-inputPhone{
	margin-top: 25px; width: 90%;
}
/* 개인정보변경 핸드폰입력 */

.changeInforOk-inputNicName {
 	margin-top: 25px; width: 90%;
}
/* 개인정보변경 닉네임입력 */
 
.changeInforOk-inputEmail{
 	margin-top: 25px; margin-bottom: 40px; width: 90%;
}
/* 개인정보변경 이메일입력 */
 
.addressManage-1 {
	margin-top: 25px; width: 90%;
}

.addressManage-2 {
	margin-top: 25px; width: 90%;
}

.addressManage-3 {
	margin-top: 25px; margin-bottom: 40px; width: 90%;
}

.addressManage-4{
	margin-top: 25px; width: 90%;
}

.addressManage-5{
	margin-top: 25px; width: 90%;
}

.addressManage-6{
	margin-top: 25px; width: 90%; margin-bottom: 40px;
}
/* 배송지관리 부분 */

#noteManageView-title {
	width: 35%;
}
/* 쪽지관리 상세페이지 제목크기 */

.noteManageView-btn2{
	width: 30%;
}
/* 쪽지관리 상세페이지 버튼 */

.memberSecession-li{
	margin-top: 20px; margin-bottom: 20px;
}
/* 회원탈퇴 li */

.memberSecession-select{
	width: 60%;
}
/* 회원탈퇴 셀렉트박스 */

.lookupView-btn{
	margin-bottom: 30px; margin-top: 30px;
}
/* 주문상세 버튼 */

.main-table{
	width:100%;overflow:auto;
}
.main-table2{
	white-space:nowrap;border-collapse:collapse;
}
/* 테이블 가로 넘치면 스크롤생겨버리기 */

.productHref{
	text-decoration: none; color: black;
}
.productHref:hover {
	font-style: italic; color: orange;
	font-weight: bold;
}







