@charset "UTF-8";
/* 버튼 스타일 시작*/
.btnwr{
    border-radius: 15px;
    background:#FF8C00;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:0.9em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .btnwr:hover{
    background:rgb(248, 247, 246);
    color:#ec6935;
  }
  .btnwr:before,.btnwr:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f19b38;
    transition:400ms ease all;
  }
  .btnwr:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btnwr:hover:before,.btnwr:hover:after{
    width:100%;
    transition:800ms ease all;
  }
.btnwr a{
    text-decoration:none;
    color: black;
}
.btnwr a:hover{
    text-decoration:none;
    color: black;
}
.atag{
    text-decoration:none;
    color: black;
}
.row.row-cols-2.row-cols-sm-2.row-cols-md-3.g-4 {
    --bs-gutter-y: 0.5rem;
}
.atag:hover{
    text-decoration: none;
    color: black;
}
/*버튼끝*/


/*셀럭트 박스*/
.select1{
    float: right;  
    width: 100px;
    position: relative;
    width: 100px;
    padding: .3em .2em;
    border: 1px solid #999;
    font-family: inherit;
    background: url('../resources/image/sel.jpeg') no-repeat 95% 50%;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selbox{
    margin-top: 1%;
    margin-left: 20%;
}
.select2{
    position: relative;
    width: 100px;
    padding: .3em .2em;
    border: 1px solid #999;
    font-family: inherit;
    background: url('../resources/image/sel.jpeg') no-repeat 95% 50%;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
/*셀럭트 박스 끝*/
.row.row-cols-2.row-cols-sm-2.row-cols-md-3.g-4.menu{
  width: 100%;
}
.maintitle{
  margin-top: 2%;
}
input[type=button]{
  width: 10%;

}
.d-flex.justify-content-between.align-items-center {
  height: 80px;
}