@charset "UTF-8";

/* 메뉴 div*/
/*제목 부분 div*/
.row.hd{
    border-bottom: 1px solid;
}
/* 추천수 조회수 부분*/

/* 사진 메뉴이름 전부 포함한 div*/

 .row.body{
     margin-top: 2%;
 }

/* 테이블*/
.tdimg{
    border: 1px solid;
}
th.plus{
    text-align: center;
   
}
table{
    max-width: 500px;
    width: 100%;
}
.tdimg{
    
    width: 150px;
}
.tdtx{
    width: 100%;
    max-width: 200px;
    padding-left: 3%;

}
/*내용*/
textarea{
    margin-top: 2%;
    resize: none;
    width: 100%;
    max-width: 900px;
    height: 300px;
    
}
/* 썸네일 사진 div*/
.sumnail{
border: 1px solid black;
width: 300px;
height: 300px;
margin-top: 7%;
text-align: center;
}
/* ( + ) div */


/* textarea 부분*/


/* 추천 버튼*/
@media(max-width:380px){
    .col-12.good{
        margin-top: 5%;
    margin-bottom: 2%;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    margin-left: 35%;
    }
}
@media(min-width:380px){
    .col-12.good{
        margin-top: 5%;
    margin-bottom: 2%;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    margin-left: 40%;
    }
}
.col-12.good a{
    color: black;

}
.col-12.good a:hover{
    color: rgba(49, 133, 211, 0.89);
}
/*버튼*/
.btn.btn-primary{
    width: 100%;
    max-width: 120px;
    height: 50px;
    margin-right: 3%;
}
.btn.btn-secondary{
    width: 100%;
    max-width: 120px;
    margin-right: 3%;
}
.btn.btn-danger{
    width: 100%;
    max-width: 120px;
    margin-right: 3%;
}

.button{
    padding-top: 3%;
    border-bottom: 1px solid black;
}
.button button{
    margin-bottom: 1%;
}

/* 댓글 */
.reply{
    margin-top: 1%;

}
.reply-write input[type=text]{
width: 100%;
height: 100%;
}
.reply-write button.btn.btn-secondary{
    height: 100%;
}
.btn.btn-success{
    float: right;
}


/*댓글 내용*/

.row.rp{
    border-bottom: 1px solid;
    padding-bottom: 2%;
}
.row.recont{
    border-bottom: 1px solid;
}
.name{
    float: left;
    padding-right: 1%;
   
}
.name p{
    color: rgb(88, 83, 83);
}
.wday{
    float: left;
    padding-right: 1%;
}

.report{
    float: left;
}
.report a{
    text-decoration:none;
    color: red;
}
.report i{
    color: black;
}
.report i:hover{
    color: rgb(184, 184, 4);
}
.replycontent{
    float: left;
}
.rpt{
    border-bottom: 1px solid;
}


/*모바일 버전 댓글*/
@media(min-width:540px){
    .replyview{
        width: 100%;
       max-width: 70px;
    }
}
@media(min-width:720px){
    .replyview{
        width: 100%;
       max-width: 70px;
    }
}
@media(min-width:1000px){
    .replyview{
        width: 100%;
       max-width: 70px;
    }
}
@media(min-width:540px){
    .wday{
        width: 100%;
       max-width: 170px;
       margin-left: -1%;
       margin-right: -2%;
       
    }
}
@media(min-width:720px){
    .wday{
        width: 100%;
       max-width: 180px;
       margin-left: -1%;
       margin-right: -2%;
    }
}
@media(min-width:1000px){
    .wday{
        width: 100%;
       max-width: 170px;
       margin-left: -1%;
       margin-right: -2%;
    }
}



