@charset "UTF-8";

/*레시피 타이틀*/
.retitle {
	border-bottom: 1px solid;
}

#ti {
	width: 100%;
	max-width: 75px;
}

/*레시피 작성 폼*/
form {
	width: 90%;
	height: 100%;
}

/*썸머노트*/
#summernote {
	height: 200px;
}

.note-editor.note-frame {
	width: 100%;
	max-width: 1000px;
}

/*input크기*/
input[type=text] {
	width: 100%;
	max-width: 450px;
}

input[type=button] {
	margin-top: 30px;
}

/*조합상품 */
select.select1 {
	width: 100%;
	max-width: 200px;
}

.select1 {
	margin-left: 1%;
	position: relative;
	padding: .3em .2em;
	border: 1px solid #999;
	font-family: inherit;
	background: url('../resources/image/sel.jpeg') no-repeat 95% 50%;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.row.hap {
	margin-top: 4%;
}
/*썸네일 사진*/
.thumnail {
	border: 1px solid black;
	width: 100%;
	max-width: 300px;
	
	max-height: 350px;
	text-align: center;
	margin-left: 10%;
}
/*썸네일 이미지*/
.thumnail img{
	width:100%;
	max-width:300px;
	max-height:345px;
}
.col-sm-6.col-5.bt {
	text-align: end;
}

input.btn.btn-primary {
	width: 100%;
	max-width:180px;
	height: 50px;
	
	margin-bottom: 2%;
}

.btn.btn-primary:hover {
	background: rgb(253, 253, 253);
	color: #2b2ef7;
}

.col-md-1.col-xs-1.ti {
	width: 100px;
}

.row.content {
	margin-top: 2%;
}

.row.title {
	margin-top: 2%;
}
/*모바일벚*/
@media screen and (max-width:380px) {
	#hap {
		text-align: center;
		margin-top: 1%;
		padding-bottom: 2%;
		width: 100%;
		padding-left:3%;
	}
}
@media screen and (min-width:500px) {
	#hap {
		width: 100%;
		max-width: 100px;
	}
}
@media screen and(max-width:380px) {
	select#sel {
		width:100%;
		
	}
}

@media(max-width:380px) {
	#selbox {
		width: 90px;
	
	}
}
@media(max-width:380px) {
	.sel1 {
		padding-left:20%;
	
	}
}
@media(max-width:380px) {
	input.btn.btn-primary {
		margin-left:50%;
	
	}
}
@media(min-width:1000px) {
	input.btn.btn-primary {
		margin-left:10%;
	
	}
}
@media (max-width :380px) {
	#thumnail {
		width: 100%;
		max-width: 250px;
		height: 100%;
		max-height: 250px;
		margin-left: 20%;
	}
}