@charset "UTF-8";
/*베스트 레시피 이미지*/
#bestimg{
width: 50px;
height: 50px;

}

/* 메뉴 div*/
/*제목 부분 div*/
.row.hd{
    border-bottom: 1px solid;
}
/* 추천수 조회수 부분*/

/* 사진 메뉴이름 전부 포함한 div*/
.hddiv{
	text-align: end;
}
 .row.body{
     margin-top: 2%;
 }

/* 테이블*/
.tdimg{
    border: 1px solid;
}
th.plus{
    text-align: center;
   
}
table{
    max-width: 500px;
    width: 100%;
    margin-bottom:20px;
}
.tdimg{
    
    width: 150px;
}
.tdtx{
    width: 100%;
    max-width: 200px;
    padding-left: 3%;
    font-size:13px;

}
/*내용*/
textarea{
    margin-top: 2%;
    resize: none;
    width: 100%;
    max-width: 900px;
    height: 300px;
    
}
.note-statusbar{
	display: none;
}
/* 썸네일 사진 div*/
.thumnail{
border: 1px solid black;
width: 300px;
height: 300px;
margin-top: 7%;
text-align: center;
}
.thumnail img{
	width:290px;
	height: 290px;
}
/* ( + ) div */


/* textarea 부분*/

@media(max-width:380px){
    .tt{
    font-size:13px;
    }
}
/* 추천 버튼*/
@media(max-width:380px){
    .col-12.good{
        margin-top: 5%;
    margin-bottom: 2%;
    border-style: groove;
	border-width: 4px;
	padding: 8px;
	border-radius: 25px;
    width: 100px;
    text-align: center;
    margin-left: 35%;
    }
}
@media(min-width:380px){
    .col-12.good{
        margin-top: 5%;
    margin-bottom: 2%;
    border-style: groove;
	border-width: 4px;
	padding: 8px;
	border-radius: 25px;
    width: 100px;
    text-align: center;
    margin-left: 40%;
    }
}
.col-12.good a{
    color: black;

}
.col-12.good a:hover{
    color: rgba(49, 133, 211, 0.89);
}
/*버튼*/
.btn.btn-primary{
    width: 100%;
    max-width: 120px;
    height: 50px;
    margin-right: 3%;
}
.btn.btn-secondary{
    width: 100%;
    max-width: 120px;
    margin-right: 3%;
}
input#modifybtn{
	width:100%;
	max-width:60px;
	height: 45px;
}
input#deletebtn{
	width:100%;
	max-width:60px;
	height: 45px;
}

input.btn.btn-danger {
    width: 120px;
    max-width: 120px;
     height: 50px;
    margin-right: 3%;
}
@media(max-width:380px){
    input.btn.btn-danger{
        width: 80px;
       max-width: 80px;
       
    }
}
.button{
    padding-top: 3%;
    border-bottom: 1px solid black;
}
.button button{
    margin-bottom: 1%;
}

/* 댓글 */
.reply{
    margin-top: 1%;

}
.reply-write input[type=text]{
width: 100%;
height: 100%;
}
.reply-write button.btn.btn-secondary{
    height: 100%;
}
.btn.btn-success{
    float: right;
}


/*댓글 내용*/

.row.rp{
    border-bottom: 1px solid;
    padding-bottom: 2%;
}
.row.recont{
    border-bottom: 1px solid;
}
.name{
    float: left;
    padding-right: 1%;
   
}
.name p{
    color: rgb(88, 83, 83);
}
.wday{
    float: left;
    padding-right: 1%;
}

.report{
    float: left;
}
.report a{
    text-decoration:none;
    color: red;
}
.report i{
    color: black;
}
.report i:hover{
    color:red;
}
.report i{
	
	font-size: 17px;
}
.replycontent{
    float: left;
    margin-top:-1%;
    padding-bottom: 1%;
}
.rpt{
    border-bottom: 1px solid;
}


/*모바일 버전 댓글*/
@media(max-width:380px){
    .replyview{
        width: 100%;
       max-width: 70px;
       font-size:14px;
    }
}
@media(min-width:540px){
    .replyview{
        width: 100%;
       max-width: 70px;
     
    }
}
@media(min-width:720px){
    .replyview{
        width: 100%;
       max-width: 70px;
    }
}
@media(min-width:1000px){
    .replyview{
        width: 100%;
       max-width: 70px;
    }
}
@media(max-width:380px){
    .wday{
       
       font-size:13px;
       
    }
}
@media(min-width:540px){
    .wday{
        width: 100%;
       max-width: 170px;
       margin-left: -1%;
       margin-right: -2%;
       
       
    }
}
@media(min-width:720px){
    .wday{
        width: 100%;
       max-width: 220px;
       margin-left: -1%;
       margin-right: -2%;
    }
}
@media(min-width:1000px){
    .wday{
        width: 100%;
       max-width: 220px;
       margin-left: -1%;
       margin-right: -2%;
    }
}

@media(max-width:380px){
    .report{
       
       font-size:13px;
       
    }
}
@media(max-width:380px){
    .replycontent{
       
       font-size:13px;
       margin-top:-5%;
       padding-bottom:4%;
       
    }
}
/*모바일 수정 삭제버튼*/
@media screen and (max-width:380px){
   input#deletebtn{
     width: 50px;
     height: 30px;
     font-size: 12px;
     vertical-align: middle;
     
    }    
}
@media screen and (max-width:380px){
   input#modifybtn{
     width: 50px;
     height: 30px;
     font-size: 12px;
     
    }    
}
@media screen and (max-width:380px){
   ::placeholder{
      font-size:0.8em;
    }    
}
@media screen and (max-width:380px){
   .hddiv{
      font-size:0.8em;
      text-align: inherit;
    }    
}
/*1024 작성자 추천 조회수 댓글*/
@media screen and (max-width:1024px){
   .hddiv{
   padding-top:3%;
      font-size:0.7em;
      text-align: inherit;
    }    
}
.fa-thumbs-up:hover{
	cursor: pointer;
	color: rgba(49, 133, 211, 0.89);
}

.thumbCount {
	font-style: italic;
}

