@charset "UTF-8";
/*베스트 레시피 이미지*/
#bestimg{
width: 50px;
height: 50px;
position: absolute;
}
/*a태그 스타일*/
a{
	text-decoration-line: none; 
	

}

/* 버튼 스타일 시작*/
.btnwr {
	border-radius: 15px;
	background: #FF8C00;
	color: #fff;
	border: none;
	position: relative;
	height: 40px;
	font-size: 0.9em;
	padding: 0 2em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
}

.btnwr:hover {
	background: rgb(248, 247, 246);
	color: #ec6935;
}

.btnwr:before, .btnwr:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #f19b38;
	transition: 400ms ease all;
}

.btnwr:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.btnwr:hover:before, .btnwr:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

.btnwr a {
	text-decoration: none;
	color: black;
}

.btnwr a:hover {
	text-decoration: none;
	color: black;
}

.atag {
	text-decoration: none;
	color: black;
}

.row.row-cols-2.row-cols-sm-2.row-cols-md-3.g-4 { 
	-bs-gutter-y: 0.5rem;
}

.atag:hover {
	text-decoration: none;
	color: black;
}
/*버튼끝*/

/*셀럭트 박스*/
.sel1{
	float: right;
}

.selbox {
	margin-top: 1%;
}

.form-select {
	width: 100%;
	max-width: 150px;
	display: initial;
}
/*검색input*/
.seltext{
	width: 100%;
	max-width: 200px;
	height: 38px;
}
/*검색input*/
.form-control{
	display: initial;
}
/*검색 div*/
.seldiv {
	text-align: center;
	margin-top: 1%;
}
/*버튼크기*/
input.btn.btn-primary.selbtn{
	width: 100%;
	max-width: 120px;
}
/*셀럭트박스 모바일*/
@media ( max-width :380px) {
	.form-select {
		width: 80px;
		display: initial;
	}
}

@media ( max-width :380px) {
	input.form-control.seltext {
		width: 130px;
	}
}
@media ( max-width :380px) {
	input.btn.btn-primary.selbtn {
		width: 80px;
	}
}
/*셀럭트 박스 끝*/


/*테이블 모바일*/
@media ( max-width :380px) {
	table {
		width: 300px;
	}
}
@media ( max-width :380px) {
	.recipe-text {
		font-size:13px;
	}
}

		
/*페이징*/
ul.pagination {
		justify-content: center;
	}
	
.page{
	margin-top: 2%;
}