@charset "UTF-8";

.shopbasket-fs6 {
	font-weight: bold;
	margin-top: 10px; margin-bottom: 10px;
}

.shopbasket-icon {
	border: 1px solid gray;
}

.shopbasket-card{
	margin-bottom: 30px;
}

.shopbasket-sum{
	color: gray; font-weight: bold; margin-top: 40px;
	font-size: 22px;
}

.shopbasket-btn2{
	margin-top: 40px; margin-bottom: 30px;
}

.shopbasket-title{
	padding: 20px;
	margin-top: 25px;
}
