<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="team.project.mapper.bannerMapper">

	<select id="bannerList" resultType="BannerVO">
		SELECT * FROM banner
	</select>
	
	<insert id="bannerInsert" parameterType="BannerVO">
		INSERT INTO banner(name, image, link_YN, link)
		VALUES(#{name}, #{image}, #{link_YN}, #{link})
	</insert>
	
	<delete id="bannerDelete" parameterType="list">
		DELETE FROM banner
		WHERE
		<foreach collection="list" item="item" separator=" OR ">
			banner_index = #{item}
		</foreach>
	</delete>
	
</mapper>