<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.dibsMapper">

    <select id="dibsInsert" resultType="team.project.vo.DibsVO">
    	INSERT INTO  
    	dibs(product_index, member_index) 
    	values(#{product_index}, #{member_index})
    </select>
    
     <select id="dibsOverlap" resultType="team.project.vo.DibsVO">
    	SELECT product_index 
    	FROM dibs 
    	WHERE product_index = #{product_index}
    </select>

	<select id="dibsDelete" resultType="team.project.vo.DibsVO">
    	DELETE FROM dibs 
    	WHERE product_index = #{product_index}
    </select>
  
  	<select id="dibsListAll" resultType="team.project.vo.DibsVO">
  		SELECT *
  		FROM dibs
  	</select>
</mapper>