<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.MemberMapper" >
 	<!--로그인 -->
 	<select id="Login" resultType="MemberVO" parameterType="MemberVO">
        SELECT member_index, id, pw,name FROM member where id=#{id}
    </select>
    <!--아이디중복체크 -->
    <select id="idChk" resultType="int" parameterType="String">
   		SELECT COUNT(*) FROM member where id=#{id}
   </select>
   <!--닉네임중복체크-->
	<select id="nickChk" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM member where nickname=#{nickname}
	</select>
	<!--추천인 검색-->
	<select id="recomChk" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM member where id=#{id}
	</select>
	<select id="pwChk" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM member where id=#{id} AND pw=#{pw}
	</select>
	
	
	<select id="memberInfor" resultType="MemberVO" parameterType="int">
		SELECT *
		FROM member 
		WHERE member_index = #{member_index}
	</select>
   
    
    <insert id="insertMember" parameterType="MemberVO"> 
    INSERT INTO member(
    id,
    pw,
    name,
    nickname,
    phone,
    email,
    recommender
    
    )VALUES(
    #{id},
    #{pw},
    #{name},
    #{nickname},
    #{phone},
    #{email},
    #{recommender}
    
    )
    
    </insert>
    
    <update id="updatePoint" parameterType="int">
    	UPDATE member
    	SET point=point + #{point}
    	WHERE member_index=#{member_index}
    </update>
    
    <!-- 여기서 부터는 관리자페이지 -->
    
    <!-- 회원 조회할때 먼저 총 글의 총 갯수를 구하는 쿼리 -->
    <select id="adminMemberListCount" resultType="int" parameterType="SearchVO">
    	SELECT COUNT(*)
    	FROM member
    	WHERE del_yn = #{del_yn}
    	<if test="searchType != null and searchType.equals('id')">
    		AND id LIKE CONCAT('%',#{searchValue},'%')
        </if>
        <if test="searchType != null and searchType.equals('name')">
    		AND name LIKE CONCAT('%',#{searchValue},'%')
        </if>
        <if test="searchType != null and searchType.equals('nickname')">
    		AND nickname LIKE CONCAT('%',#{searchValue},'%')
        </if>
    </select>
    
    <!-- 회원 조회 -->
    <select id="adminMemberList" resultType="MemberVO" parameterType="PagingUtil">
    	SELECT member_index, id, nickname, name, join_date, del_date, del_reason
    	FROM member
    	WHERE del_yn = #{del_yn}
    	<if test="searchType != null and searchType.equals('id')">
    		AND id LIKE CONCAT('%',#{searchValue},'%')
        </if>
        <if test="searchType != null and searchType.equals('name')">
    		AND name LIKE CONCAT('%',#{searchValue},'%')
        </if>
        <if test="searchType != null and searchType.equals('nickname')">
    		AND nickname LIKE CONCAT('%',#{searchValue},'%')
        </if>
        ORDER BY join_date DESC
    	LIMIT #{start}, #{perPage}
    </select>
    
    <!-- 회원 추방 -->
    <update id="adminChangeMemberDel_yn" parameterType="int">
    	UPDATE member SET
    	del_yn = 'Y', del_date = NOW(), del_reason = '관리자에 의한 추방'
    	WHERE member_index = #{member_index}
    </update>
</mapper>


