<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.memberMapper" >
 	
 	<select id="Login" resultType="MemberVO" parameterType="MemberVO">
        SELECT * FROM member where id=#{id} and pw=#{pw}
    </select>
    
    <select id="idChk" resultType="MemberVO" parameterType="MemberVO">
   		SELECT COUNT(*) FROM member where id=#{id}
   </select>
  <!--    <select id="nickChk" resultType="MemberVO" parameterType="MemberVO">
   		SELECT COUNT(*) FROM member where nickname=#{nickname}
   </select>  -->
   
    
    <insert id="insertMember" parameterType="MemberVO"> 
    INSERT INTO member(
    id,
    pw,
    password,
    name,
    nickname,
    phone,
    email,
    recommender
    
    )VALUES(
    #{id},
    #{pw},
    #{password},
    #{name},
    #{nickname},
    #{phone},
    #{email},
    #{recommender}
    
    )
    
    </insert>
</mapper>