<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.messageMapper" >

	<select id="messageListCount" resultType="int" parameterType="SearchVO">
    	SELECT COUNT(*)
    	FROM message
    	WHERE member_index = #{member_index} and del_yn = #{del_yn}
    	<if test="searchType != null and searchType.equals('title')">
    		AND title LIKE CONCAT('%',#{searchValue},'%')
        </if>
        <if test="searchType != null and searchType.equals('contents')">
    		AND contents LIKE CONCAT('%',#{searchValue},'%')
        </if>
    </select>
    
    <!-- 회원 조회 -->
    <select id="messageList" resultType="MessageVO" parameterType="PagingUtil">
    	SELECT * FROM message
		WHERE member_index = #{member_index} and del_yn = #{del_yn}
    	<if test="searchType != null and searchType.equals('title')">
    		AND title LIKE CONCAT('%',#{searchValue},'%')
        </if>
        <if test="searchType != null and searchType.equals('contents')">
    		AND contents LIKE CONCAT('%',#{searchValue},'%')
        </if>
        ORDER BY send_date DESC
    	LIMIT #{start}, #{perPage}
    </select>
  	
  	<select id="messageListDetail" resultType="MessageVO" parameterType="int">
  		SELECT * FROM message
		WHERE message_index = #{message_index}
  	</select>
 	
 	<update id="messageChooseDelete" parameterType="String">
		UPDATE message SET
		del_yn = 'Y'
		WHERE message_index = #{message_index} 
	</update>
	
 	<update id="messageDelete" parameterType="int">
		UPDATE message SET
		del_yn = 'Y'
		WHERE message_index = #{message_index} 
	</update>
	
	<update id="messageChooseRead" parameterType="String">
		UPDATE message SET
		read_yn = 'Y'
		WHERE message_index = #{message_index} 
	</update>
	
	<update id="messageRead" parameterType="int">
		UPDATE message SET
		read_yn = 'Y'
		WHERE message_index = #{message_index} 
	</update>
	
	<insert id="messageInsert" parameterType="MessageVO">
		INSERT INTO message(
			member_index, contents, title
		)
		VALUES(
			#{member_index}, #{contents}, #{title}
		)
	</insert>
	
	<select id="messageNonReadCount" resultType="int" parameterType="int">
		SELECT count(*) FROM message
		WHERE member_index = #{member_index} and read_yn = 'N' and del_yn = 'N'
	</select>
 	
</mapper>


