<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.orderProductMapper" >
 	
 	<select id="orderProductList" resultType="OrderProductVO">
        SELECT * FROM order_product AS orp
		JOIN product AS pr
		ON orp.product_index = pr.product_index 
    </select>
    
    <update id="buyOk" parameterType="String">
    	UPDATE order_product
    	SET order_status = '구매확정', buy_YN = 'Y'
    	WHERE orderItem_index = #{orderItem_index}
    </update>
    
    <!-- 회원 상세주문 넣는 과정 -->
    <insert id="memberOrderProductInsert" parameterType="list">
    	INSERT INTO order_product(
    		member_order_index, orderItem_index,
    		product_index, order_quantity, price, point
    	) VALUES 
    	<foreach collection="list" item="item" separator=" , ">
			(
			#{item.member_order_index}, #{item.orderItem_index},
			#{item.product_index}, #{item.order_quantity},
			#{item.price}, #{item.point}
			)
		</foreach>
    </insert>
       
    <!-- 비회원 상세주문 넣는 과정 -->
    <insert id="noMemberOrderProductInsert" parameterType="list">
    	INSERT INTO order_product(
    		no_member_order_index, orderItem_index,
    		product_index, order_quantity, price, point
    	) VALUES 
    	<foreach collection="list" item="item" separator=" , ">
			(
			#{item.no_member_order_index}, #{item.orderItem_index},
			#{item.product_index}, #{item.order_quantity},
			#{item.price}, #{item.point}
			)
		</foreach>
    </insert>
    
    <!-- 관리자페이지 -->
    <!-- 회원 주문 상세조회할때 주문들 불러오기 -->
    <select id="adminMemberOrderProductList" resultType="OrderProductVO" parameterType="OrdersVO">
    	SELECT *
    	FROM order_product as a, product as b
    	WHERE a.product_index = b.product_index
    	AND a.member_order_index = #{member_order_index}
    </select>
   
</mapper>