<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.ordersMapper" >
 	
 	<select id="ordersList" resultType="OrdersVO" parameterType="int">
        SELECT * FROM orders
		WHERE member_index=#{member_index}
		order by order_date desc limit 3
    </select>
    
    <select id="ordersDetail" resultType="OrdersVO" parameterType="String">
        SELECT * FROM orders
		WHERE member_order_index=#{member_order_index}
    </select>
    
    <select id="ordersDetailJoin" resultType="OrdersVO" parameterType="String">
        SELECT * FROM orders AS orde JOIN coupon AS cou
        ON orde.coupon_index = cou.coupon_index
		WHERE member_order_index=#{member_order_index}
    </select>
    
    <!-- 여기서 부터는 관리자페이지 -->
    
    <!-- 회원 주문 조회할때 먼저 총 글의 총 갯수를 구하는 쿼리 -->
    <select id="adminMemberOrdersCount" resultType="int" parameterType="SearchVO">
    	SELECT COUNT(*)
    	FROM orders
        <if test="searchValue != null">
        	WHERE member_index IN (SELECT member_index FROM member WHERE id LIKE CONCAT('%',#{searchValue},'%'))
        </if>
    </select>
    
    <!-- 회원 주문 조회 -->
    <select id="adminMemberOrdersList" resultType="OrdersVO" parameterType="PagingUtil">
		SELECT * FROM orders as a, member as b
		WHERE a.member_order_index = b.member_index
		<if test="searchValue != null">
			AND member_index IN (SELECT member_index FROM member WHERE id LIKE CONCAT('%',#{searchValue},'%'))
		</if>
	    ORDER BY order_date DESC
    	LIMIT #{start}, #{perPage}
    </select>
   
</mapper>