<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.ordersMapper" >
 	
 	<select id="ordersList" resultType="OrdersVO" parameterType="int">
        SELECT * FROM orders
		WHERE member_index=#{member_index} and cancel_YN='N'
		order by order_date desc limit 3
    </select>
    
    <select id="ordersDetail" resultType="OrdersVO" parameterType="String">
        SELECT * FROM orders
		WHERE member_order_index=#{member_order_index} and cancel_YN='N'
    </select>
   
</mapper>