<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.recipeMapper" >

<!-- 레시피 목록 리스트 -->
 <select id="recipeList" resultType="RecipeVO" parameterType="PagingUtil">
	SELECT * FROM recipe where del_yn = 'N' 
	<if test="searchType != null and searchType.equals('title')">
    		AND title LIKE CONCAT('%',#{searchValue},'%')
        </if>
        
	LIMIT #{start},6
	<!-- <include refid="search"></include>
		                       ) recipe
		WHERE RNUM BETWEEN #{startPage} AND #{endPage}
		ORDER BY recipe_index DESC -->
</select> 

<!-- 레시피 게시글 갯수 -->
<select id="countRecipe" resultType="int" parameterType="SearchVO">
SELECT count(recipe_index) from recipe WHERE del_yn = 'N'
<if test="searchType != null and searchType.equals('title')">
    		AND title LIKE CONCAT('%',#{searchValue},'%')
        </if>

</select>

<!-- 레시피 상세 -->
<select id="recipeRead" parameterType="int" resultType="RecipeVO">
SELECT * FROM recipe where recipe_index =#{recipe_index}

</select>

<!-- 레시피 게시글 조회수 -->
<update id="recipeHit" parameterType="int">
UPDATE recipe set hit =hit+1 where recipe_index=#{recipe_index}
</update>




<!-- <sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'title'.toString()">AND TITLE LIKE '%' || #{searchValue} || '%'</if>
			
		</if>
	</sql> -->

<!--레시피 게시글 작성 상품 찾기  -->
<select id="pro">
select a.product_index1,b.product_index from recipe as a inner join product as b on a.product_index1 = b.product_index
</select>

<!-- 레시피 게시글 추천 -->
<!-- <update id="recipeThumb" parameterType="int">
UPDATE recipe set 
thumb = thumb+1
where recipe_index=#{recipe_index}

</update>

레시피 게시글 추천 중복 방지
<insert id="insertThumb" parameterType="ThumbVO">
INSERT INTO thumb(
recipe_index,
member_index
)VALUES(
#{recipe_index},
#{member_index}
)

</insert> -->




<!-- 레시피작성 -->
 <insert id="insertRecipe"  parameterType="RecipeVO">
 INSERT INTO recipe(
 member_index,
 title,
 thumbnail_image,
 contents,
 product_index1,
 product_index2,
 product_index3

 )VALUES(
 #{member_index},
 #{title},
 #{thumbnail_image},
 #{contents},
 #{product_index1},
 #{product_index2},
 #{product_index3}
 )
 
 </insert>
 
<!-- 레시피 수정 -->
 <update id="updateRecipe" parameterType="RecipeVO">

		UPDATE recipe SET
		title = #{title},
		thumbnail_image = #{thumbnail_image},
		contents = #{contents},
		product_index1 = #{product_index1},
		product_index2 = #{product_index2},
		product_index3 = #{product_index3},
		WHERE member_index = #{member_index}
	</update>
 
</mapper>


