<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.recipeMapper" >

<!-- 레시피 목록 리스트 -->
 <select id="recipeList" resultType="RecipeVO" parameterType="PagingUtil">
	SELECT * , (select name
          from member
		 where member_index=recipe.member_index) as name 
		, (select count(reply_index)
          from reply
		 where recipe_index=recipe.recipe_index) as reply_index FROM recipe where del_yn = 'N' 
	<if test="searchType != null and searchType.equals('title')">
    		AND title LIKE CONCAT('%',#{searchValue},'%')
        </if>
     ORDER BY best_rank ,write_date DESC LIMIT #{start},6
	
</select> 
<!-- 레시피번호 -->
<select id="selectRecipe" resultType="RecipeVO" parameterType="int">
SELECT * FROM recipe where recipe_index =#{recipe_index}
</select>

<!-- 레시피 게시글 갯수 -->
<select id="countRecipe" resultType="int" parameterType="SearchVO">
SELECT count(recipe_index) from recipe WHERE del_yn = 'N'
<if test="searchType != null and searchType.equals('title')">
    		AND title LIKE CONCAT('%',#{searchValue},'%')
        </if>

</select>

<!-- 레시피 상세 -->
<select id="recipeRead" parameterType="int" resultType="RecipeVO">
select *
     , (select product_name 
          from product 
		 where product_index=recipe.product_index1) as product_name1
	, (select concat(concat(concat(concat(brand,'/'),middleSort),'/'),thumbnail_image) 
          from product 
		 where product_index=recipe.product_index1) as product_img1
         
     , (select product_name 
          from product 
		 where product_index=recipe.product_index2) as product_name2 
    , (select concat(concat(concat(concat(brand,'/'),middleSort),'/'),thumbnail_image) 
          from product 
		 where product_index=recipe.product_index2) as product_img2     
	 , (select product_name 
          from product 
		 where product_index=recipe.product_index3) as product_name3
    , (select concat(concat(concat(concat(brand,'/'),middleSort),'/'),thumbnail_image) 
          from product 
		 where product_index=recipe.product_index3) as product_img3 
	, (select count(reply_index)
          from reply
		 where recipe_index=recipe.recipe_index) as reply_index
	, (select name
          from member
		 where member_index=recipe.member_index) as name
		 	 
	from recipe where recipe_index =#{recipe_index}

</select>

<!-- 레시피 게시글 조회수 -->
<update id="recipeHit" parameterType="int">
UPDATE recipe set hit =hit+1 where recipe_index=#{recipe_index}
</update>



<!-- 레시피 게시글 추천 -->
<update id="updateThumb">
UPDATE recipe set 
thumb = thumb+1
where recipe_index=#{recipe_index}

</update>

 <!-- 레시피 게시글 추천 중복 방지 -->
<insert id="insertThumb" >
INSERT INTO thumb(
recipe_index,
member_index
)VALUES(
#{recipe_index},
#{member_index}
)

</insert>
<select id="getThumb" parameterType="int">
 SELECT COUNT(thumb) FROM thumb WHERE recipe_index = #{recipe_index} AND member_index = #{member_index}
</select>



<!-- 레시피작성 -->
 <insert id="insertRecipe"  parameterType="RecipeVO">
 INSERT INTO recipe(
 member_index,
 title,
 thumbnail_image,
 contents,
 <if test="product_index2 !=''">
  product_index2,
 </if>
<if test="product_index3 !=''">
  product_index3,
 </if>
 product_index1
 )VALUES(
 #{member_index},
 #{title},
 #{thumbnail_image},
 #{contents},
 <if test="product_index2 !=''">
 #{product_index2},
 </if>
  <if test="product_index3 !=''">
 #{product_index3},
 </if>
 #{product_index1}
 )
 
 </insert>
 
<!-- 레시피 수정 -->
 <update id="updateRecipe" parameterType="RecipeVO">

		UPDATE recipe SET
		title = #{title},
		thumbnail_image = #{thumbnail_image},
		contents = #{contents},	
		<if test="product_index2 !=''">
		product_index2 = #{product_index2},
		</if>
		<if test="product_index2 !=''">
		product_index3 = #{product_index3},
		</if>
		product_index1 = #{product_index1}
		WHERE recipe_index = #{recipe_index}
	</update>
 <!-- 레시피 삭제 -->
 <update id="deletdRecipe" parameterType="int">
 UPDATE recipe SET
 del_yn = 'Y'
 WHERE recipe_index =#{recipe_index}
 </update> 
 <!-- 베스트 레시피 선정 -->

 
 <!-- 베스트 레시피 선정 -->
 <update id="initRank" parameterType="int">
 update recipe 
<if test="value == 1">
   set best_rank = 4
 where best_rank = 1;
 </if>
 <if test="value == 2">
   set best_rank = 4
 where best_rank = 2;
 </if>
 <if test="value == 3">
   set best_rank = 4
 where best_rank = 3
 </if> 
 </update> 
 
 <update id="updateRank" parameterType="RecipeVO">
 update recipe 
   set best_rank = #{best_rank}
 where recipe_index=#{recipe_index};
 </update> 

 <select id="viewRecipeList" resultType="RecipeVO">
	SELECT * 
    FROM recipe 
	WHERE del_YN = 'N' order by best_rank ASC
</select>

<!-- 마이페이지 부분 -->
<select id="countRecipeMypage" resultType="int" parameterType="SearchVO">
    SELECT count(*) 
    FROM 
    recipe WHERE member_index = #{member_index} and del_yn = 'N'
</select>

<select id="recipeMypageList" resultType="RecipeVO" parameterType="PagingUtil">
    SELECT * , (select count(reply_index)
          from reply
		 where recipe_index=recipe.recipe_index) as reply_index FROM recipe where member_index = #{member_index} and del_yn = 'N' 
    order by best_rank, write_date desc
    LIMIT #{start}, #{perPage}
</select>

<!-- 관리자페이지 -->

<!-- 베스트레시피 불러오기 -->
<select id="adminBestRecipeList" resultType="RecipeVO">
	SELECT recipe_index, best_rank, hit, title, write_date,
		(SELECT COUNT(reply_index) FROM reply WHERE recipe_index = recipe.recipe_index) as reply_index
	FROM recipe WHERE best_rank IN(1,2,3) ORDER BY best_rank;
</select>

<!-- 레시피 해제 -->
<update id="adminCancelBestRecipe" parameterType="list">
	UPDATE recipe SET
	best_rank = 4 WHERE
	<foreach collection="list" item="item" separator=" OR ">
		recipe_index = #{item}
	</foreach>
</update>

<!-- 순위 조절1 -->
<update id="adminUpdateBestRecipeRankOne">
	UPDATE recipe
	SET best_rank = 1
	WHERE best_rank =
		(SELECT MIN(best_rank) FROM
  			(SELECT a.best_rank
   			FROM recipe as a
   			JOIN recipe as b ON a.recipe_index = b.recipe_index
		) temp
	)
</update>

<!-- 순위 조절2 -->
<update id="adminUpdateBestRecipeRankTwo">
	UPDATE recipe
	SET best_rank = 2
	WHERE best_rank BETWEEN 2 AND 3
</update>

<!-- 추천 +1 -->
<update id="thumbPlus" parameterType="int">
	UPDATE recipe
	SET thumb = thumb+1
	WHERE recipe_index = #{recipe_index}
</update>

<insert id="thumbTablePlus" parameterType="map">
	INSERT INTO thumb(recipe_index, member_index)
	VALUES(#{recipe_index}, #{member_index})
</insert>

</mapper>


