<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.recipeMapper" >

<!-- 레시피 목록 리스트 -->
 <select id="recipeList" resultType="RecipeVO" parameterType="PagingUtil">
	SELECT * FROM recipe where del_yn = 'N' 
	<if test="searchType != null and searchType.equals('title')">
    		AND title LIKE CONCAT('%',#{searchValue},'%')
        </if>
     ORDER BY recipe_index DESC LIMIT #{start},6
	
</select> 

<!-- 레시피 게시글 갯수 -->
<select id="countRecipe" resultType="int" parameterType="SearchVO">
SELECT count(recipe_index) from recipe WHERE del_yn = 'N'
<if test="searchType != null and searchType.equals('title')">
    		AND title LIKE CONCAT('%',#{searchValue},'%')
        </if>

</select>

<!-- 레시피 상세 -->
<select id="recipeRead" parameterType="int" resultType="RecipeVO">
select *
     , (select product_name 
          from product 
		 where product_index=recipe.product_index1) as product_name1
	, (select concat(concat(concat(concat(brand,'/'),middleSort),'/'),thumbnail_image) 
          from product 
		 where product_index=recipe.product_index1) as product_img1
         
     , (select product_name 
          from product 
		 where product_index=recipe.product_index2) as product_name2 
    , (select concat(concat(concat(concat(brand,'/'),middleSort),'/'),thumbnail_image) 
          from product 
		 where product_index=recipe.product_index2) as product_img2     
	 , (select product_name 
          from product 
		 where product_index=recipe.product_index3) as product_name3
    , (select concat(concat(concat(concat(brand,'/'),middleSort),'/'),thumbnail_image) 
          from product 
		 where product_index=recipe.product_index3) as product_img3 
	from recipe where recipe_index =#{recipe_index}

</select>

<!-- 레시피 게시글 조회수 -->
<update id="recipeHit" parameterType="int">
UPDATE recipe set hit =hit+1 where recipe_index=#{recipe_index}
</update>





<!--레시피 게시글 작성 상품 찾기  -->
<!-- <select id="viewProduct" resultType="RecipeVO">
select title
     , (select product_name 
          from product 
		 where product_index=recipe.product_index1) as product_name1
	, (select thumbnail_image 
          from product 
		 where product_index=recipe.product_index1) as product_img1
         
     , (select product_name 
          from product 
		 where product_index=recipe.product_index2) as product_name2 
    , (select thumbnail_image 
          from product 
		 where product_index=recipe.product_index2) as product_img2     
	 , (select product_name 
          from product 
		 where product_index=recipe.product_index3) as product_name3
     , (select thumbnail_image 
          from product 
		 where product_index=recipe.product_index3) as product_img3    
 from recipe
</select> -->



<!-- 레시피 게시글 추천 -->
<update id="updateThumb">
UPDATE recipe set 
thumb = thumb+1
where recipe_index=#{recipe_index}

</update>

 <!-- 레시피 게시글 추천 중복 방지 -->
<insert id="insertThumb" >
INSERT INTO thumb(
recipe_index,
member_index
)VALUES(
#{recipe_index},
#{member_index}
)

</insert>
<select id="getThumb" parameterType="int">
 SELECT COUNT(thumb) FROM thumb WHERE recipe_index = #{recipe_index} AND member_index = #{member_index}
</select>



<!-- 레시피작성 -->
 <insert id="insertRecipe"  parameterType="RecipeVO">
 INSERT INTO recipe(
 member_index,
 title,
 thumbnail_image,
 contents,
 <if test="product_index2 !=''">
  product_index2,
 </if>
<if test="product_index3 !=''">
  product_index3,
 </if>
 product_index1
 )VALUES(
 #{member_index},
 #{title},
 #{thumbnail_image},
 #{contents},
 <if test="product_index2 !=''">
 #{product_index2},
 </if>
  <if test="product_index3 !=''">
 #{product_index3},
 </if>
 #{product_index1}
 )
 
 </insert>
 
<!-- 레시피 수정 -->
 <update id="updateRecipe" parameterType="RecipeVO">

		UPDATE recipe SET
		title = #{title},
		thumbnail_image = #{thumbnail_image},
		contents = #{contents},
		product_index1 = #{product_index1},
		product_index2 = #{product_index2},
		product_index3 = #{product_index3},
		WHERE member_index = #{member_index}
	</update>
 
</mapper>


