<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.replyMapper" >

<!-- 댓글 총 갯수 -->
<select id="countReply">
SELECT count(reply_index) from reply WHERE del_yn = 'N'

</select>

<!-- 댓글 리스트 -->
<select id="replyList" resultType="ReplyVO">
SELECT * 
, (select name
          from member
		 where member_index=reply.member_index) as name
         
         FROM reply where  del_yn = 'N' and recipe_index=#{recipe_index}
	
</select>

<!-- 댓글 작성 -->
<insert id="writeReply">
INSERT INTO reply(
	recipe_index,
	member_index,
	contents
)VALUE(
	#{recipe_index},
	#{member_index},
	#{contents}
)

</insert>

<!-- 댓글 수정 -->
<update id="updateReply" parameterType="ReplyVO">
UPDATE reply set contents=#{contents} where reply_index = #{reply_index}

</update>


<!-- 댓글 삭제 -->
<delete id="deleteReply" parameterType="ReplyVO">
DELETE FROM reply WHERE reply_index =#{reply_index}
</delete>

 
</mapper>


