<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.reviewMapper" >
 	
 	<insert id="reviewInsert" parameterType="ReviewVO">
		INSERT INTO review(product_index, member_index, image, star_count, contents)
		VALUES(#{product_index}, #{member_index}, #{image}, #{star_count}, #{contents})
	</insert>
   
   	<update id="revieweOk" parameterType="String">
    	UPDATE order_product
    	SET review_YN = 'Y'
    	WHERE orderItem_index = #{orderItem_index}
    </update>
    
    <select id="countList" resultType="int" parameterType="int">
    	SELECT count(*) FROM review
    	WHERE member_index = #{member_index} and del_YN = 'N'
    </select>
    
    <select id="countReviewList" resultType="int" parameterType="SearchVO">
    	SELECT count(*) FROM review
    	WHERE member_index = #{member_index} and del_YN = 'N'
    </select>
    
    <select id="reviewList" resultType="ReviewVO" parameterType="PagingUtil">
        SELECT * FROM review AS r
		JOIN product AS p
		ON r.product_index = p.product_index
		WHERE r.member_index = #{member_index} and r.del_YN = 'N'
		ORDER BY review_date desc
		LIMIT #{start}, #{perPage}
    </select>
    
    <select id="viewReviewList" resultType="ReviewVO">
    	SELECT * FROM review
    	WHERE product_index = #{product_index} and del_YN = 'N'
    </select>
    
    <select id="viewReviewListArr" resultType="ReviewVO" parameterType="list">
    	SELECT * FROM review
    	<if test="list != null">
	    	WHERE product_index in (<foreach collection="list" item='test' separator=','>#{test.product_index}</foreach>) and del_YN = 'N'
    	</if>
    </select>
    
    
</mapper>