<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="team.project.mapper.serviceCenterMapper" >
 	
 	<select id="latelyServiceCenter" resultType="ServiceCenterVO" parameterType="int">
        SELECT * 
        FROM 
        servicecenter WHERE member_index = #{member_index} and del_YN = 'N' 
        order by write_date desc limit 3
    </select>
    
    <select id="countServiceCenters" resultType="int" parameterType="SearchVO">
        SELECT count(*) 
        FROM 
        servicecenter WHERE member_index = #{member_index} and del_YN = 'N'
    </select>
    
    <select id="serviceCenterList" resultType="ServiceCenterVO" parameterType="PagingUtil">
        SELECT * 
        FROM 
        servicecenter WHERE member_index = #{member_index} and del_YN = 'N' 
        order by write_date desc
        LIMIT #{start}, #{perPage}
    </select>
    
    <select id="countServiceCenter" resultType="int" parameterType="int">
        SELECT count(*) 
        FROM 
        servicecenter WHERE member_index = #{member_index} and del_YN = 'N'
    </select>
    
    <!-- 고객센터페이지 -->
    <!-- 종류2에 대한 FAQ조회 -->
    <select id="serviceCenterPageFAQList" resultType="ServiceCenterVO" parameterType="String">
    	SELECT *
    	FROM servicecenter
    	WHERE sort1 = 'FAQ'
    	AND sort2 = #{sort2}
    	AND del_YN = 'N'
    </select>
    
    <!-- 종류2에 대한 1:1문의들 갯수 -->
    <select id="serviceCenterPageListCount" resultType="int" parameterType="String">
    	SELECT COUNT(*)
    	FROM servicecenter
    	WHERE sort1 = '1:1문의'
    	AND sort2 = #{sort2}
    	AND del_YN = 'N'
    </select>
    
    <!-- 종류2에 대한 1:1문의들 리스트 -->
    <select id="serviceCenterPageList" resultType="ServiceCenterVO" parameterType="ServiceCenterVO">
    	SELECT a.*, b.name
    	FROM serviceCenter as a, member as b
    	WHERE a.member_index = b.member_index
	    	AND sort1 = '1:1문의'
	    	AND sort2 = #{sort2}
	    	AND a.del_YN = 'N'
    	ORDER BY write_date DESC
    	LIMIT #{serviceCenter_index}, #{member_index}
    </select>
    
    <!-- 고객센터 글 상세조회 -->
    <select id="serviceCenterPageView" resultType="ServiceCenterVO" parameterType="int">
    	SELECT a.*, b.name
    	FROM serviceCenter as a, member as b
    	WHERE serviceCenter_index = #{serviceCenter_index}
    	AND a.member_index = b.member_index
    </select>
    
    <!-- 고객센터 글 등록 -->
    <insert id="insert" parameterType="ServiceCenterVO">
    	INSERT INTO serviceCenter(
    		member_index, sort1, sort2, title, contents
    	)VALUES(
    		#{member_index}, #{sort1}, #{sort2}, #{title}, #{contents}
    	)
    </insert>
    
    <!-- 답변 등록 -->
    <insert id="replyInsert" parameterType="ServiceCenterReplyVO">
    	INSERT INTO serviceCenter_reply(
    		serviceCenter_index, contents
    	)VALUES(
    		#{serviceCenter_index}, #{contents}
    	)
    </insert>
    
    <!-- 처리완료로 변경 -->
    <update id="update" parameterType="int">
    	UPDATE serviceCenter SET
    	progress = '처리완료'
    	WHERE serviceCenter_index = #{serviceCenter_index}
    </update>
    
    <!-- 고객센터 글 삭제 -->
    <update id="deleteser" parameterType="int">
    	UPDATE serviceCenter SET
    	del_YN = 'Y'
    	WHERE serviceCenter_index = #{serviceCenter_index}
    </update>
    
    <!-- 답변 불러오기 -->
    <select id="reply" resultType="ServiceCenterReplyVO" parameterType="int">
    	SELECT * FROM serviceCenter_reply
    	WHERE serviceCenter_index = #{serviceCenter_index}
    </select>
    
    <!-- 관리자페이지 메인 최근 문의내역 리스트 -->
    <select id="adminService" resultType="ServiceCenterVO">
    	SELECT * FROM serviceCenter
    	WHERE del_YN = 'N' AND sort1 = '1:1문의'
    	ORDER BY write_date DESC
    	LIMIT 0, 3
    </select>
</mapper>